@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply uppercase text-grey font-bold tracking-[0.25px];
  }
  input {
    @apply border-solid font-medium text-black tracking-[0.01px] border-line border-[1px] w-full
              rounded-lg px-4 lg:px-6 py-3 focus:border-purple outline-none;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
